@model Contact
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .custom-form {
        background-color: #f0f8ff; /* Jasnoniebieski kolor tła */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Cień */
        border-radius: 10px; /* Zaokrąglone rogi */
    }
</style>

<h1 class="text-center my-4">Dodaj nowy kontakt</h1>

<form asp-controller="Contact" asp-action="Create" method="post" class="card custom-form p-4 mx-auto" style="max-width: 500px;">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Imię</label>
        <input class="form-control" asp-for="Name" placeholder="Wpisz imię">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input class="form-control" asp-for="Email" placeholder="Wpisz adres email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Phone" class="form-label">Numer telefonu</label>
        <input class="form-control" asp-for="Phone" placeholder="Wpisz numer telefonu">
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="OrganizationId" class="form-label">Organizacja</label>
        <select class="form-control" asp-for="OrganizationId" asp-items="@Model.Organizations">
            <option value="">Wybierz organizację</option>
        </select>
        <span asp-validation-for="OrganizationId" class="text-danger"></span>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </div>
</form>
