@model Travel

<form asp-action="Delete" asp-controller="Travel" method="post">
    <input type="hidden" asp-for="Id" />

    <h2>Czy na pewno chcesz usunąć tę podróż?</h2>

    <div>
        <label>Nazwa podróży:</label>
        <div>@Model.Name</div>
    </div>

    <button type="submit" class="btn btn-danger">Usuń</button> |
    <a asp-action="Index">Anuluj</a>
</form>